.login-input{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.login-input .label{
    font-size: 16px;
    margin-bottom: 12px;
    text-align: start;
    width: 100%;
    font-weight: 500px;    
}