.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
}

.home-header {
    text-align: right;
    margin-bottom: 30px;
}

.home-header h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    color: #333; /* Título em cinza escuro */
}

.home-header .home-email {
    font-size: 1.2rem;
    color: #555; /* Texto em cinza médio */
    margin-top: 10px;
}

.home-small-header {
    display: flex;
    justify-content: space-between;    
    width: 2120px;
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 1px solid #333; */
}

/* Conteúdo principal */
.home-main {
    text-align: center;
    margin: 20px 0;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    width: 50%;
    max-width: 600px;
}

.home-main p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    line-height: 1.6;
    color: #555; /* Texto em cinza médio */
}

/* Botão principal */
.home-button {
    background-color: #4CAF50; /* Verde claro */
    color: #fff; /* Texto branco */
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.home-button:hover {
    background-color: #45a049; /* Verde mais escuro ao passar o mouse */
    transform: scale(1.05);
}

/* Rodapé */
.home-footer {
    margin-top: 40px;
}

.logout-button {
    background-color: #ff4d4d; /* Vermelho claro */
    color: #fff; /* Texto branco */
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.logout-button:hover {
    background-color: #ff6666; /* Vermelho mais escuro ao passar o mouse */
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
    .home-header h1 {
        font-size: 2rem;
    }

    .home-main p {
        font-size: 1.2rem;
    }

    .home-button {
        font-size: 1rem;
        padding: 12px 20px;
    }

    .logout-button {
        font-size: 1rem;
        padding: 10px 16px;
    }
}