.login-container {
    margin-top: 150px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #0f52b64d, #f0f0f0);
    height: 10vh;
}

.login-header-button {
    width: 150px;
    height: 50px;
    margin: 15px;
}

.logo-header {
    padding: 5px 1px 1px 10px;
    width: 85px;
}

.login-button {
    width: 730px;
}

.signup-button {
    background-color: #f0f0f0;    
    width: 730px;
    color: black;
}

.signup-button:hover {
    background: linear-gradient(to bottom, #0f52b64d, #5a5c5f);    
    width: 730px;
}

.login-input,
.password-input {
    width: 700px;
    height: 20px;
    font-size: medium;    
}

form {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-footer {
    margin: 15px 0px 0px 0px;
    height: 280px;
    background-color: rgba(12, 29, 180, 0.3);
    background: linear-gradient(to top, rgba(15, 82, 182, 0.3), #f0f0f0);
}

.row {
    display: flex;
    justify-content: space-between;
    width: 720px;
}

.title {
    width: 720px;
}

@media screen and (max-width: 765px) {
    .login-input,
    .password-input,
    .login-button,
    .signup-button,
    .row,
    .title {
        width: 350px;
      }
}