#navbar {
    flex-direction: column;
    width: 100%;
}

#container-navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

#container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

#brand {
    color: whitesmoke
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #navbar {
        flex-direction: column;
    }

    #container-navbar {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    #container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }
    
    #brand {
        color: whitesmoke
    }

    #container-nav-n {
        display: flex;
        flex-direction: column;
        position: fixed; /* Fixa a barra na lateral */
        top: 0;
        left: 0;
        height: 100vh; /* Ocupa toda a altura da viewport */
        width: 250px; /* Largura fixa para telas maiores */
        background-color: #f8f9fa; /* Cor de fundo */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
        padding: 20px; /* Espaçamento interno */
        z-index: 1000; /* Garante que fique acima de outros elementos */
    }

}