.signup-section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.signup-form {
    width: 100%;
}

.signup-input {
    width: 720px;
}

.signup-header {
    background: linear-gradient(to bottom, #0f52b64d, #f0f0f0);
    height: 10vh;
}

.signup-container {
    height: 80%;
    display: flex;
    align-items: center;
}

.signup-password,
.signup-confirmPass,
.signup-date-input,
.signup-age-input {
    width: 50%;
}

.signup-footer-2 {
    margin: 15px 0px 0px 0px;
    height: 10%;
    background-color: rgba(12, 29, 180, 0.3);
    background: linear-gradient(to top, rgba(15, 82, 182, 0.3), #f0f0f0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.signup-button-2 {
    width: 700px;
    color: #f0f0f0;
}

option {    
    border-radius: 10px;
    background-color: #0f0f0f;
}