#root {
  background-color: #0f0f0f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #f0f0f0;
  height: 100vh;
}

body {
  margin: 0px;
}

.header-initial {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #292929, #0f0f0f);
  height: 10%;
}

.footer-initial {
  height: 10%;
  background: linear-gradient(to top, #292929, #0f0f0f);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

button {
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  /* width: 450px; */
  /* color: #f0f0f0; */
}

input, 
select {
  background-color: transparent;
  border-bottom: 2px;
  border-top: none;
  border-top-color: transparent;
  border-right: none;
  border-right-color: transparent;
  border-left: none;
  border-left-color: transparent;
  border-style: solid;
  border-bottom-color: #f0f0f0;
  padding: 12px 12px;
  margin: 10px 10px;  
  color:#f0f0f0;
}

input::placeholder {
  color: #464646;
  opacity: 1;
}

input:focus::placeholder {
  color: #f0f0f0;
}

input:hover {
  background-color: #2c2c2c;
}

input:focus {
  border-bottom: 2px;
  border-top: none;
  border-top-color: transparent;
  border-right: none;
  border-right-color: transparent;
  border-left: none;
  border-left-color: transparent;
  color:#f0f0f0;
}

.add-button {
  background: linear-gradient(to top, #ff9900, #6b430e);
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.add-button:active {
  background-color: #1c912b;
}

.add-button:hover {
  background: linear-gradient(to top, #6b430e, #ff9900);
}

.dropdown-container {
  margin: 20px;
  font-family: sans-serif;
  border-bottom: 2px;
  border-bottom-color: #f0f0f0;
  border-bottom-color: #f0f0f0;
  border-top: none;
  border-top-color: transparent;
  border-right: none;
  border-right-color: transparent;
  border-left: none;
  border-left-color: transparent;
}

.custom-dropdown {
  padding: 10px;
  width: 700px;
}

a {
  color: #f0f0f0;
}