#root {
  background-color: #f0f0f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  height: 100vh;
}

body {
  margin: 0px;
}

.header-initial {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #0f52b64d, #f0f0f0);
  height: 10%;
}

.footer-initial {
  height: 10%;
  background: linear-gradient(to top, rgba(15, 82, 182, 0.3), #f0f0f0);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

button {
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  width: 450px;
  color: #f0f0f0;
}

input {
  background-color: #ffffff;
  border-color: #383838bb;
  border-width: 1px;
  border-style: solid;
  padding: 12px 12px;
  margin: 10px 10px;
  border-radius: 10px;
}

input:hover {
  background-color: rgb(241, 241, 241);
}

input:active {
  border: 1px solid rgb(253, 253, 255);
}

.add-button {
  background: linear-gradient(to top, #18b62d, #0e6b1a);
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.add-button:active {
  background-color: #1c912b;
}

.add-button:hover {
  background: linear-gradient(to bottom, #1c912b, #0e6b1a);
}

.dropdown-container {
  margin: 20px;
  font-family: sans-serif;
}

.custom-dropdown {
  padding: 10px;
  border-color: #383838bb;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  width: 700px;
}